html {
  box-sizing: border-box;
  font-size: 62.5%;
  background: #8E24AA;
  background: linear-gradient(45deg,  #42a5f5 0%,#478ed1 50%,#0d47a1 100%);
  height: 100%;
  width: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin:0;
  text-align: center;
  font-family: 'Inconsolata', monospace;
}


.shake {
  animation: shake 10s 1 linear;
  /* -moz-animation: shake 150ms 2 linear;
  -webkit-animation: shake 100ms 2 linear;
  -o-animation: shake 150ms 2 linear; */
  /* animation-iteration-count: infinite; */
}

@keyframes shake {
  0% {
    transform: translate(1rem, 0);
  }
  1.111% {
    transform: translate(-1rem, 0);
  }
  2.222% {
    transform: translate(1rem, 0);
  }
  3.333% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(0, 0);
  }
  11.111% {
    transform: translate(-1rem, 0);
  }
  12.222% {
    transform: translate(1rem, 0);
  }
  13.333% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 0);
  }
  21.111% {
    transform: translate(-1rem, 0);
  }
  22.222% {
    transform: translate(1rem, 0);
  }
  23.333% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(0, 0);
  }
  31.111% {
    transform: translate(-1rem, 0);
  }
  32.222% {
    transform: translate(1rem, 0);
  }
  33.333% {
    transform: translate(0, 0);
  }
  40% {
    transform: translate(0, 0);
  }
  41.111% {
    transform: translate(-1rem, 0);
  }
  42.222% {
    transform: translate(1rem, 0);
  }
  43.333% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 0);
  }
  51.111% {
    transform: translate(-1rem, 0);
  }
  52.222% {
    transform: translate(1rem, 0);
  }
  53.333% {
    transform: translate(0, 0);
  }
  60% {
    transform: translate(0, 0);
  }
  61.111% {
    transform: translate(-1rem, 0);
  }
  62.222% {
    transform: translate(1rem, 0);
  }
  63.333% {
    transform: translate(0, 0);
  }
  70% {
    transform: translate(0, 0);
  }
  71.111% {
    transform: translate(-1rem, 0);
  }
  72.222% {
    transform: translate(1rem, 0);
  }
  73.333% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(0, 0);
  }
  81.111% {
    transform: translate(-1rem, 0);
  }
  82.222% {
    transform: translate(1rem, 0);
  }
  83.333% {
    transform: translate(0, 0);
  }
  90% {
    transform: translate(0, 0);
  }
  91.111% {
    transform: translate(-1rem, 0);
  }
  92.222% {
    transform: translate(1rem, 0);
  }
  93.333% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.date {
  font-weight: 100;
  font-size: 6rem;
  margin: 0;
  color:#f5f5f5;
  text-shadow: .4rem .4rem 0 rgba(0, 0, 0, 0.05);
}

.display__time-left, .clock {
  font-weight: 100;
  font-size: 20rem;
  margin: 8rem 0 8rem 0;
  color:white;
  text-shadow: .4rem .4rem 0 rgba(0,0,0,0.05);
}

.timer {
  display:flex;
  min-height: 100vh;
  flex-direction:column;
}

.timer__controls {
  display: flex;
  flex-wrap: wrap;
}

.timer__controls > * {
  flex:1;
}

.timer__controls form {
  flex:1;
  display:flex;
}

.timer__controls input {
  flex:1;
  border:0;
  padding:2rem;
}

.timer__button {
  background:none;
  border:0;
  cursor: pointer;
  color:white;
  font-size: 2rem;
  text-transform: uppercase;
  background:rgba(0,0,0,0.1);
  border-bottom: .3rem solid rgba(0,0,0,0.2);
  border-right: .1rem solid rgba(0,0,0,0.2);
  padding:1rem;
  font-family: 'Inconsolata', monospace;
}

.timer__button:hover,
.timer__button:focus {
  background:rgba(0,0,0,0.2);
  outline:0;
}

.display_container {
  display: none;  /* Keeps element out of the layout until the alarm is running (handles by JS) */
}

.display {
  flex:1;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display__end-time {
  font-size: 4rem;
  color:white;
}

.weather_container {
  display: none;
  height: 10vh;
  align-items: center;
}

.weatherIcon {
  font-size: 8rem;
  color: #f0f0f0; /* Slightly darker than the other whites for more of a visual match */
  text-shadow: .3rem .3rem 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.weather {
  display: inline-block;
  margin: 0 0 0 4rem;
  color:#f5f5f5;
  text-shadow: .4rem .4rem 0 rgba(0, 0, 0, 0.05);
  font-weight: 100;
  font-size: 6rem;
}

.location_container {
  display: none;
}

.location {
  font-size: 3rem;
  color: #ddd;
  font-weight: 100;
  margin: 2.5rem 0 0 0;
}

.mute {
  padding: 1.5rem 7.5rem;
  background: transparent;
  border: .3rem solid #fff;
  color: #fff;
  font-size: 2rem;
  margin-top: 0;
  cursor: pointer;
  display: none;
}

.show_small {
  display: none;
  color: #f5f5f5;
}



/* Media Queries */

@media only screen and (max-width: 481px) {

  
  .display {
    padding: 0 2rem;
  }
  
  .date {
    font-size: 3rem;
  }
  
  .weather {
    font-size: 5rem;
    margin-left: 2rem;
  }
  
  .location {
    font-size: 2.5rem;
  }
  
  /* Wanted the text to sit on it's own line */
  
}

@media only screen and (max-width: 544px) {
  #custom {
    padding: 0 2rem;
  }
  .show_small {
    display: block;
    background: none;
    width: 100vw;
    flex-wrap: wrap;
    flex: none;
    margin: 1.5rem 0;
    font-size: 2.5rem;
    font-weight: 100;
  }

  .weatherIcon {
    font-size: 6.5rem;
  }
  
  .display__time-left {
    margin: 3.5rem 0;
    font-size: 10rem;
  }
  
  .clock {
    margin: 3.5rem 0;
    font-size: 9rem;
  }

  .display__end-time {
    font-size: 3rem;
  }
  
  ::-webkit-input-placeholder {
    text-align: center;
  }
  
  :-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
  }
  
  ::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
  }
  
  :-ms-input-placeholder {
    text-align: center;
  }
  
}
